# Footnotes

a) Option based system
b) points based system

# Import libraries

In [1]:
import pandas as pd

#import regex
import re

import numpy as np

In [2]:
#read the data
data = pd.read_csv("Outputs/included_data.csv", index_col = 0,encoding="utf-8") 
data.index.name = 'index'

print(data.info())

#data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098 entries, 0 to 960
Data columns (total 15 columns):
College_ID                             1098 non-null int64
Research Level                         1098 non-null object
Competency                             1098 non-null object
constructive_type_abv                  1098 non-null object
scholarly_project                      1098 non-null bool
HDR_option                             1098 non-null bool
HDR_option_avail                       1098 non-null bool
Repeated_learning_YES_ID               414 non-null object
Compulsory_YES_ID                      414 non-null object
project_category_ID                    340 non-null object
RPL                                    1098 non-null bool
LEARNINGA_research_training            1098 non-null bool
LEARNINGA_experienced_supervisor       1098 non-null bool
LEARNINGA_experienced_supervisor_ID    66 non-null object
activity_type                          414 non-null object
dtypes: bool(6), int64(1), object(8)
memory usage: 92.2+ KB
None

In [3]:
data = data.reset_index(drop=True)

data

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
0,38,Leading,Creating,LA,True,False,False,2 - No,1 - Yes,1 - Only option,True,False,False,4 - Experienced research supervisor ENCOURAGED,Scholalry Project
1,37,Leading,Creating,LA,True,False,True,2 - No,1 - Yes,1 - Only option,False,False,False,2 - Supervisor required but no details given,Scholalry Project
2,38,Using,Evaluating,LA,False,False,False,2 - No,1 - Yes,1 - Only option,False,True,False,NaN,CLEAR course
3,37,Using,Evaluating,LA,False,False,False,2 - No,1 - Yes,1 - Only option,False,True,False,NaN,CLEAR course
4,36,Leading,Creating,LA,True,False,True,2 - No,1 - Yes,1 - Only option,True,False,False,2 - Supervisor required but no details given,Scholalry Project
5,36,Using,Understanding,LA,False,False,False,1 - Yes,1 - Yes,NaN,False,False,False,NaN,Conference Attendence
6,40,Using,Evaluating,LA,False,False,False,2 - No,1 - Yes,1 - Only option,False,True,False,NaN,CLEAR course
7,40,Using,Understanding,LA,False,False,False,1 - Yes,1 - Yes,NaN,False,False,False,NaN,Conference Attendence
8,41,Leading,Creating,LA,True,False,True,2 - No,1 - Yes,3 - Points based system,False,False,False,2 - Supervisor required but no details given,Scholalry Project
9,41,Using,Understanding,LA,False,False,False,1 - Yes,1 - Yes,NaN,False,False,False,NaN,Conference Attendence
10,41,Using,Understanding,LA,False,False,False,1 - Yes,1 - Yes,NaN,False,False,False,NaN,Formal trainee education and training - COLLEGE
11,41,Using,Evaluating,LA,False,False,False,2 - No,1 - Yes,1 - Only option,False,True,False,NaN,CLEAR course
12,42,Using,Evaluating,LA,False,False,False,2 - No,1 - Yes,1 - Only option,False,True,False,NaN,CLEAR course
13,42,Leading,Creating,LA,True,False,True,2 - No,1 - Yes,1 - Only option,False,False,False,2 - Supervisor required but no details given,Scholalry Project
14,42,Using,Understanding,LA,False,False,False,1 - Yes,1 - Yes,NaN,False,False,False,NaN,Formal trainee education and training - COLLEGE
15,42,Using,Understanding,LA,False,False,False,1 - Yes,1 - Yes,NaN,False,False,False,NaN,Conference Attendence
16,42,Using,Understanding,LA,False,False,False,1 - Yes,1 - Yes,NaN,False,False,False,NaN,Conference Attendence
17,42,Using,Understanding,LA,False,False,False,1 - Yes,1 - Yes,NaN,False,False,False,NaN,Formal trainee education and training - COLLEGE
18,42,Using,Remembering,LA,False,False,False,1 - Yes,3 - Not specified,NaN,False,False,False,NaN,Journal Club
19,43,Leading,Creating,LA,True,False,True,2 - No,1 - Yes,1 - Only option,False,False,False,1 - Supervisor NOT required and/or mentioned,Scholalry Project
20,40,Leading,Creating,LA,True,False,True,2 - No,1 - Yes,1 - Only option,True,False,False,1 - Supervisor NOT required and/or mentioned,Scholalry Project
21,38,Using,Applying,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
22,38,Using,Remembering,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
23,38,Using,Understanding,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
24,38,Using,Evaluating,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
25,38,Using,Applying,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
26,38,Using,Remembering,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
27,38,Using,Understanding,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
28,38,Using,Evaluating,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
29,38,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Proposal - WRITTEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1068,29,Using,Understanding,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1069,29,Using,Applying,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1070,29,Leading,Understanding,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1071,29,Using,Evaluating,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1072,29,Leading,Creating,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1073,29,Using,Remembering,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1074,29,Using,Evaluating,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1075,29,Using,Evaluating,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1076,29,Leading,Creating,LA,False,False,False,2 - No,2 - No,1 - Only option,False,True,False,NaN,Formal trainee education and training - COLLEGE
1077,6,Leading,Applying,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1078,6,Using,Evaluating,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1079,6,Using,Understanding,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1080,6,Using,Applying,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1081,6,Leading,Understanding,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1082,6,Using,Evaluating,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1083,6,Leading,Creating,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1084,6,Using,Remembering,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1085,6,Using,Evaluating,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1086,6,Using,Evaluating,LO,False,False,False,NaN,NaN,NaN,False,False,False,NaN,NaN
1087,6,Leading,Creating,LA,False,False,False,2 - No,2 - No,1 - Only option,False,True,False,NaN,Formal trainee education and training - COLLEGE
1088,49,Using,Understanding,AA,False,False,False,2 - No,1 - Yes,NaN,False,False,False,NaN,Written exam
1089,50,Using,Understanding,AA,False,False,False,2 - No,1 - Yes,NaN,False,False,False,NaN,Written exam
1090,52,Using,Understanding,AA,False,False,False,2 - No,1 - Yes,NaN,False,False,False,NaN,Written exam
1091,55,Using,Understanding,AA,False,False,False,2 - No,1 - Yes,NaN,False,False,False,NaN,Written exam
1092,56,Using,Understanding,AA,False,False,False,2 - No,1 - Yes,NaN,False,False,False,NaN,Written exam
1093,57,Using,Understanding,AA,False,False,False,2 - No,1 - Yes,NaN,False,False,False,NaN,Written exam
1094,54,Using,Understanding,AA,False,False,False,2 - No,1 - Yes,NaN,False,False,False,NaN,Written exam
1095,53,Using,Understanding,AA,False,False,False,2 - No,1 - Yes,NaN,False,False,False,NaN,Written exam
1096,58,Using,Understanding,AA,False,False,False,2 - No,1 - Yes,NaN,False,False,False,NaN,Written exam
1097,51,Using,Understanding,AA,False,False,False,2 - No,1 - Yes,NaN,False,False,False,NaN,Written exam

# Create new dataframe for project information

In [4]:
#get all college names

college_names = data.College_ID.unique()

#create data frame
colleges = pd.DataFrame(college_names)

colleges.columns = ["College"]

#sort in numerical order
colleges = colleges.sort_values('College')


print(len(colleges))
colleges.head()

58

    College
45        1
8         2
10        3
42        4
11        5

In [5]:
#add additional columns

colleges["Project Requirements"] = ""
colleges["Research training required"] = ""
#colleges["Research training discription"] = ""
colleges["Experienced supervisor specified"] = ""
colleges["Project supervisor category"] = ""
colleges["First or second author publication requirements"] = ""
colleges["Publication requirements"] = ""
colleges["Conference presentation requirements"] = ""
colleges["Thesis requirements"] = ""
#colleges["Project description"] = "-"

colleges.head()

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,,,,,,,,
8,2,,,,,,,,
10,3,,,,,,,,
42,4,,,,,,,,
11,5,,,,,,,,

# Learning Activities

In [6]:
#get dataframe of learning activities
la = data[data["constructive_type_abv"] == "LA"]

len(la.College_ID.unique())

la.head()

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
0,38,Leading,Creating,LA,True,False,False,2 - No,1 - Yes,1 - Only option,True,False,False,4 - Experienced research supervisor ENCOURAGED,Scholalry Project
1,37,Leading,Creating,LA,True,False,True,2 - No,1 - Yes,1 - Only option,False,False,False,2 - Supervisor required but no details given,Scholalry Project
2,38,Using,Evaluating,LA,False,False,False,2 - No,1 - Yes,1 - Only option,False,True,False,NaN,CLEAR course
3,37,Using,Evaluating,LA,False,False,False,2 - No,1 - Yes,1 - Only option,False,True,False,NaN,CLEAR course
4,36,Leading,Creating,LA,True,False,True,2 - No,1 - Yes,1 - Only option,True,False,False,2 - Supervisor required but no details given,Scholalry Project

In [103]:
la[la["HDR_option"] == 1]

Empty DataFrame
Columns: [College_ID, Research Level, Competency, constructive_type_abv, scholarly_project, HDR_option, HDR_option_avail, Repeated_learning_YES_ID, Compulsory_YES_ID, project_category_ID, RPL, LEARNINGA_research_training, LEARNINGA_experienced_supervisor, LEARNINGA_experienced_supervisor_ID, activity_type]
Index: []

### List of colleges that require a project

In [7]:
la_proj = la[(la.scholarly_project == 1)]

print (len(la_proj.College_ID.unique()))

college_WITH = la_proj.College_ID.unique()
#college_WITH

56

In [9]:
#dataframe of no projects
college_withOUT = pd.DataFrame(np.setdiff1d(college_names,college_WITH ))


college_withOUT.columns = ["College"]

college_withOUT

   College
0        6
1       11

In [10]:
la.project_category_ID.unique()

array(['1 - Only option', nan, '3 - Points based system',
       '2 - Options based system'], dtype=object)

In [11]:
la_proj.project_category_ID.unique()

array(['1 - Only option', '3 - Points based system',
       '2 - Options based system'], dtype=object)

### Non-mandatory projects

In [13]:
#option based
la_NONmandatory_proj = la[(la.scholarly_project == 1)  & (la.Compulsory_YES_ID == "2 - No")]

print(len(la_NONmandatory_proj.College_ID.unique()))

la_NONmandatory_proj

1

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
411,5,Leading,Creating,LA,True,False,False,2 - No,2 - No,1 - Only option,False,False,True,5 - Experienced research supervisor MANDATORY,Scholalry Project

In [14]:
#write in proj options for those with non-mandatory projects

for ids in la_NONmandatory_proj ["College_ID"]:
    
    #get index
    index = la_NONmandatory_proj[la_NONmandatory_proj['College_ID']== ids].index[0]
    
        
    if la_NONmandatory_proj.loc[index, "project_category_ID"] == '1 - Only option': 
        colleges.loc[colleges['College'] == ids, 'Project Requirements'] = "Optional"
        
    elif la_NONmandatory_proj.loc[index, "project_category_ID"] == '2 - Options based system': 
        colleges.loc[colleges['College'] == ids, 'Project Requirements'] = "Optional (a)"
        
    else:
        colleges.loc[colleges['College'] == ids, 'Project Requirements'] = "Optional (b)"

    
print(colleges['Project Requirements'].value_counts(dropna=False))
colleges.head()

            57
Optional     1
Name: Project Requirements, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,,,,,,,,
8,2,,,,,,,,
10,3,,,,,,,,
42,4,,,,,,,,
11,5,Optional,,,,,,,

### Mandatory Project

In [15]:
#dataframe of mandatory scholarly projects
la_mandatory_proj = la[(la.scholarly_project == 1) & (la.Compulsory_YES_ID == "1 - Yes")]

len(la_mandatory_proj.College_ID.unique())

55

In [17]:
#write in proj options for those with non-mandatory projects

for ids in la_mandatory_proj ["College_ID"]:
    
    #get index
    index = la_mandatory_proj[la_mandatory_proj['College_ID']== ids].index[0]
    
        
    if la_mandatory_proj.loc[index, "project_category_ID"] == '2 - Options based system': 
        colleges.loc[colleges['College'] == ids, 'Project Requirements'] = "Yes (a)"
        
    else:
        colleges.loc[colleges['College'] == ids, 'Project Requirements'] = "Yes (b)"

        
for ids in la_mandatory_proj ["College_ID"]:
    
    #get index
    index = la_mandatory_proj[la_mandatory_proj['College_ID']== ids].index[0]
    
        
    if la_mandatory_proj.loc[index, "project_category_ID"] == '1 - Only option': 
        colleges.loc[colleges['College'] == ids, 'Project Requirements'] = "Yes"
    
print(colleges['Project Requirements'].value_counts(dropna=False))
colleges.head()

Yes         51
Yes (b)      3
             2
Yes (a)      1
Optional     1
Name: Project Requirements, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,,,,,,,
8,2,Yes (a),,,,,,,
10,3,Yes,,,,,,,
42,4,Yes,,,,,,,
11,5,Optional,,,,,,,

## Research training required

In [18]:
#how LAs are research training?
la["LEARNINGA_research_training"].value_counts(dropna = False)

False    104
True      54
Name: LEARNINGA_research_training, dtype: int64

### Non-mandatory

In [19]:
training_nonman = la[(la.LEARNINGA_research_training == 1) & 
                     (la.scholarly_project == 0) & 
                     (la.Compulsory_YES_ID == "2 - No")]

print("Data frame shape is: ", training_nonman.shape)
training_nonman.head()

Data frame shape is:  (32, 15)

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
104,45,Leading,Understanding,LA,False,False,False,1 - Yes,2 - No,1 - Only option,False,True,False,NaN,Formal trainee education and training - COLLEGE
618,46,Leading,Creating,LA,False,False,False,2 - No,2 - No,1 - Only option,False,True,False,NaN,Formal trainee education and training - COLLEGE
768,7,Leading,Creating,LA,False,False,False,2 - No,2 - No,1 - Only option,False,True,False,NaN,Formal trainee education and training - COLLEGE
779,9,Leading,Creating,LA,False,False,False,2 - No,2 - No,1 - Only option,False,True,False,NaN,Formal trainee education and training - COLLEGE
790,10,Leading,Creating,LA,False,False,False,2 - No,2 - No,1 - Only option,False,True,False,NaN,Formal trainee education and training - COLLEGE

In [20]:
#write in proj options for those with non-mandatory projects

#which df
df = training_nonman

#which column to enter data
col_in = "Research training required"

#which column to get data out of
col_out = "project_category_ID"



print("Data frame shape is: ", df.shape)
df.head()

Data frame shape is:  (32, 15)

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
104,45,Leading,Understanding,LA,False,False,False,1 - Yes,2 - No,1 - Only option,False,True,False,NaN,Formal trainee education and training - COLLEGE
618,46,Leading,Creating,LA,False,False,False,2 - No,2 - No,1 - Only option,False,True,False,NaN,Formal trainee education and training - COLLEGE
768,7,Leading,Creating,LA,False,False,False,2 - No,2 - No,1 - Only option,False,True,False,NaN,Formal trainee education and training - COLLEGE
779,9,Leading,Creating,LA,False,False,False,2 - No,2 - No,1 - Only option,False,True,False,NaN,Formal trainee education and training - COLLEGE
790,10,Leading,Creating,LA,False,False,False,2 - No,2 - No,1 - Only option,False,True,False,NaN,Formal trainee education and training - COLLEGE

In [22]:
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
    if df.loc[index, col_out] == '2 - Options based system': 
        colleges.loc[colleges['College'] == ids, col_in] = "Optional (a)"
        
    else:
        colleges.loc[colleges['College'] == ids, col_in] = "Optional (b)"

        
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
        
    if df.loc[index, col_out] == '1 - Only option': 
        colleges.loc[colleges['College'] == ids, col_in] = "Optional"
    

    
print(colleges[col_in].value_counts(dropna=False))
colleges.head()

Optional    32
            26
Name: Research training required, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,,,,,,,
8,2,Yes (a),,,,,,,
10,3,Yes,,,,,,,
42,4,Yes,,,,,,,
11,5,Optional,,,,,,,

## Mandatory Training

In [23]:
training_man = la[(la.LEARNINGA_research_training == 1) & 
                     (la.scholarly_project == 0) & 
                     (la.Compulsory_YES_ID == "1 - Yes")]

training_man.shape

(22, 15)

In [24]:
#write in proj options for those with non-mandatory projects

#which df
df = training_man

#which column to enter data
col_in = "Research training required"

#which column to get data out of
col_out = "project_category_ID"



print("Data frame shape is: ", df.shape)
df.head()

Data frame shape is:  (22, 15)

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
2,38,Using,Evaluating,LA,False,False,False,2 - No,1 - Yes,1 - Only option,False,True,False,NaN,CLEAR course
3,37,Using,Evaluating,LA,False,False,False,2 - No,1 - Yes,1 - Only option,False,True,False,NaN,CLEAR course
6,40,Using,Evaluating,LA,False,False,False,2 - No,1 - Yes,1 - Only option,False,True,False,NaN,CLEAR course
11,41,Using,Evaluating,LA,False,False,False,2 - No,1 - Yes,1 - Only option,False,True,False,NaN,CLEAR course
12,42,Using,Evaluating,LA,False,False,False,2 - No,1 - Yes,1 - Only option,False,True,False,NaN,CLEAR course

In [25]:
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
    if df.loc[index, col_out] == '2 - Options based system': 
        colleges.loc[colleges['College'] == ids, col_in] = "Yes (a)"
        
    else:
        colleges.loc[colleges['College'] == ids, col_in] = "Yes (b)"

        
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
        
    if df.loc[index, col_out] == '1 - Only option': 
        colleges.loc[colleges['College'] == ids, col_in] = "Yes"
    

    
print(colleges[col_in].value_counts(dropna=False))
colleges.head()

Optional    31
            16
Yes          8
Yes (b)      2
Yes (a)      1
Name: Research training required, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,Yes,,,,,,
8,2,Yes (a),Yes (a),,,,,,
10,3,Yes,,,,,,,
42,4,Yes,Yes,,,,,,
11,5,Optional,Yes,,,,,,

## Experienced Supvervisor Required

In [26]:
#get a dataframe of all the scholarly projects
la_proj = la[(la.scholarly_project == 1)]


#reindex
la_proj = la_proj.reset_index(drop=True)


#get the values in the LEARNINGA_experienced_supervisor_ID column
print(la_proj.LEARNINGA_experienced_supervisor_ID.unique())

print(la_proj["LEARNINGA_experienced_supervisor_ID"].value_counts(dropna=False))

['4 - Experienced research supervisor ENCOURAGED'
 '2 - Supervisor required but no details given'
 '1 - Supervisor NOT required and/or mentioned'
 '5 - Experienced research supervisor MANDATORY'
 '3 - Supervisor required but no mention of RESEARCH experience']
4 - Experienced research supervisor ENCOURAGED                   35
3 - Supervisor required but no mention of RESEARCH experience    16
2 - Supervisor required but no details given                      9
1 - Supervisor NOT required and/or mentioned                      4
5 - Experienced research supervisor MANDATORY                     2
Name: LEARNINGA_experienced_supervisor_ID, dtype: int64

In [27]:
la_proj[la_proj["LEARNINGA_experienced_supervisor_ID"]== '1 - Supervisor NOT required and/or mentioned']

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
5,43,Leading,Creating,LA,True,False,True,2 - No,1 - Yes,1 - Only option,False,False,False,1 - Supervisor NOT required and/or mentioned,Scholalry Project
6,40,Leading,Creating,LA,True,False,True,2 - No,1 - Yes,1 - Only option,True,False,False,1 - Supervisor NOT required and/or mentioned,Scholalry Project
48,47,Leading,Creating,LA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,1 - Supervisor NOT required and/or mentioned,Scholalry Project
50,44,Leading,Creating,LA,True,False,True,2 - No,1 - Yes,1 - Only option,False,False,False,1 - Supervisor NOT required and/or mentioned,Scholalry Project

In [28]:
#write in proj options for those with non-mandatory projects

#which df
df = la_proj

#which column to enter data
col_in = "Experienced supervisor specified"

#which column to get data out of
col_out = "LEARNINGA_experienced_supervisor_ID"


for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
       
    if df.loc[index, col_out] == '3 - Supervisor required but no mention of RESEARCH experience': 
        colleges.loc[colleges['College'] == ids, col_in] = "No"
        
    if df.loc[index, col_out] == '2 - Supervisor required but no details given': 
        colleges.loc[colleges['College'] == ids, col_in] = "No"

        
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]

    if df.loc[index, col_out] == '1 - Supervisor NOT required and/or mentioned': 
        colleges.loc[colleges['College'] == ids, col_in] = "NR"


        
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
       
    
    if df.loc[index, col_out] == '4 - Experienced research supervisor ENCOURAGED': 
        colleges.loc[colleges['College'] == ids, col_in] = "Yes*"
        
        
    
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
    if df.loc[index, col_out] == '5 - Experienced research supervisor MANDATORY': 
        colleges.loc[colleges['College'] == ids, col_in] = "Yes"
    
    
    
    
print(colleges[col_in].value_counts(dropna=False))
colleges.head()

Yes*    30
No      21
NR       3
Yes      2
         2
Name: Experienced supervisor specified, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,Yes,No,,,,,
8,2,Yes (a),Yes (a),No,,,,,
10,3,Yes,,No,,,,,
42,4,Yes,Yes,No,,,,,
11,5,Optional,Yes,Yes,,,,,

In [29]:
#write category into Project supervisor category column

for ids in la_proj ["College_ID"]:
    
    #get index of college
    index = la_proj[la_proj['College_ID']== ids].index[0]
    #print index
    
    
    #get cell value
    string = la_proj.iloc[index, 13]
    
    
    #replace values
    colleges.loc[colleges['College'] == ids, 'Project supervisor category'] = string
    
    
    
colleges

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,Yes,No,2 - Supervisor required but no details given,,,,
8,2,Yes (a),Yes (a),No,2 - Supervisor required but no details given,,,,
10,3,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
42,4,Yes,Yes,No,3 - Supervisor required but no mention of RESE...,,,,
11,5,Optional,Yes,Yes,5 - Experienced research supervisor MANDATORY,,,,
41,6,,Optional,,,,,,
12,7,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
15,8,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
13,9,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
14,10,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
16,11,,Optional,,,,,,
17,12,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
35,13,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
36,14,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
18,15,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
19,16,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
20,17,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
21,18,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
22,19,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
23,20,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
24,21,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
25,22,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
27,23,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
26,24,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
37,25,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
38,26,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
28,27,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
29,28,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
40,29,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
31,30,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
39,31,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
30,32,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
32,33,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
33,34,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
34,35,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
2,36,Yes,,No,2 - Supervisor required but no details given,,,,
1,37,Yes,Yes,No,2 - Supervisor required but no details given,,,,
0,38,Yes,Yes,Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
7,39,Yes,,No,2 - Supervisor required but no details given,,,,
3,40,Yes,Yes,NR,1 - Supervisor NOT required and/or mentioned,,,,
4,41,Yes (b),Yes,No,2 - Supervisor required but no details given,,,,
5,42,Yes,Yes,No,2 - Supervisor required but no details given,,,,
6,43,Yes,,NR,1 - Supervisor NOT required and/or mentioned,,,,
46,44,Yes,,NR,1 - Supervisor NOT required and/or mentioned,,,,
9,45,Yes (b),Yes (b),No,2 - Supervisor required but no details given,,,,
47,46,Yes,Optional,Yes,5 - Experienced research supervisor MANDATORY,,,,
44,47,Yes,,No,2 - Supervisor required but no details given,,,,
43,48,Yes,Yes (b),Yes*,4 - Experienced research supervisor ENCOURAGED,,,,
48,49,Yes (b),,No,3 - Supervisor required but no mention of RESE...,,,,
49,50,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
57,51,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
50,52,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
55,53,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
54,54,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
51,55,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
52,56,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
53,57,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
56,58,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,

# Assessment Activities

In [30]:
#get dataframe of assessment activities
aa = data[data["constructive_type_abv"] == "AA"]

len(aa.College_ID.unique())

aa.head()

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
29,38,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Proposal - WRITTEN
30,38,Leading,Creating,AA,True,False,False,1 - Yes,1 - Yes,1 - Only option,False,False,False,NaN,Proposal - ORAL
31,38,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Progress report - ORAL
32,38,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
33,38,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or other ORAL report

## First or second author publications

### Non-mandatory

In [31]:
#get colleges that require or encourage publication as first or second author
aa_first_nonman = aa[((aa.activity_type == "Publication - FIRST author") | 
              (aa.activity_type == "Publication - FIRST or SECOND author"))
             & (aa.Compulsory_YES_ID == "2 - No")]


print(aa_first_nonman["project_category_ID"].value_counts(dropna=False))
aa_first_nonman.head()

1 - Only option    2
Name: project_category_ID, dtype: int64

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
364,23,Leading,Creating,AA,True,False,False,2 - No,2 - No,1 - Only option,False,False,False,NaN,Publication - FIRST author
505,46,Leading,Creating,AA,True,False,False,2 - No,2 - No,1 - Only option,False,False,False,NaN,Publication - FIRST or SECOND author

In [32]:
#write in proj options for those with non-mandatory projects

#which df
df = aa_first_nonman

#which column to enter data
col_in = "First or second author publication requirements"

#which column to get data out of
col_out = "project_category_ID"




for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
    if df.loc[index, col_out] == '2 - Options based system': 
        colleges.loc[colleges['College'] == ids, col_in] = "Optional (a)"
        
    else:
        colleges.loc[colleges['College'] == ids, col_in] = "Optional (b)"

        
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
        
    if df.loc[index, col_out] == '1 - Only option': 
        colleges.loc[colleges['College'] == ids, col_in] = "Optional"
    

    
print(colleges[col_in].value_counts(dropna=False))
colleges.head()

            56
Optional     2
Name: First or second author publication requirements, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,Yes,No,2 - Supervisor required but no details given,,,,
8,2,Yes (a),Yes (a),No,2 - Supervisor required but no details given,,,,
10,3,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
42,4,Yes,Yes,No,3 - Supervisor required but no mention of RESE...,,,,
11,5,Optional,Yes,Yes,5 - Experienced research supervisor MANDATORY,,,,

## Mandatory Publications

In [34]:
#get colleges that require or encourage publication as first or second author
aa_first_man = aa[((aa.activity_type == "Publication - FIRST author") | 
              (aa.activity_type == "Publication - FIRST or SECOND author"))
             & (aa.Compulsory_YES_ID == "1 - Yes")]



print(aa_first_man["project_category_ID"].value_counts(dropna=False))
aa_first_man.head()

2 - Options based system    10
3 - Points based system      6
1 - Only option              4
Name: project_category_ID, dtype: int64

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
35,38,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Publication - FIRST author
38,37,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Publication - FIRST or SECOND author
46,40,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Publication - FIRST or SECOND author
51,41,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,3 - Points based system,False,False,False,NaN,Publication - FIRST author
56,42,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Publication - FIRST author

In [35]:
#write in proj options for those with non-mandatory projects

#which df
df = aa_first_man

#which column to enter data
col_in = "First or second author publication requirements"

#which column to get data out of
col_out = "project_category_ID"




for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
    if df.loc[index, col_out] == '2 - Options based system': 
        colleges.loc[colleges['College'] == ids, col_in] = "Yes (a)"
        
    else:
        colleges.loc[colleges['College'] == ids, col_in] = "Yes (b)"

        
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
        
    if df.loc[index, col_out] == '1 - Only option': 
        colleges.loc[colleges['College'] == ids, col_in] = "Yes"
    

    
print(colleges[col_in].value_counts(dropna=False))
colleges.head()

            37
Yes (a)     10
Yes (b)      5
Yes          4
Optional     2
Name: First or second author publication requirements, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,Yes,No,2 - Supervisor required but no details given,,,,
8,2,Yes (a),Yes (a),No,2 - Supervisor required but no details given,Yes (a),,,
10,3,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
42,4,Yes,Yes,No,3 - Supervisor required but no mention of RESE...,Yes (a),,,
11,5,Optional,Yes,Yes,5 - Experienced research supervisor MANDATORY,,,,

## Any author

### Non Mandatory

In [36]:
#get colleges that require or encourage publication as first or second author
aa_any_noman = aa[((aa.activity_type == "Publication - FIRST author") | 
              (aa.activity_type == "Publication - FIRST or SECOND author")|
             (aa.activity_type == "Publication - ANY author")) & (aa.Compulsory_YES_ID == "2 - No")]

print(aa_any_noman["project_category_ID"].value_counts(dropna=False))
aa_any_noman.head()

1 - Only option    32
Name: project_category_ID, dtype: int64

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
290,7,Leading,Creating,AA,True,False,False,2 - No,2 - No,1 - Only option,False,False,False,NaN,Publication - ANY author
293,9,Leading,Creating,AA,True,False,False,2 - No,2 - No,1 - Only option,False,False,False,NaN,Publication - ANY author
299,10,Leading,Creating,AA,True,False,False,2 - No,2 - No,1 - Only option,False,False,False,NaN,Publication - ANY author
302,8,Leading,Creating,AA,True,False,False,2 - No,2 - No,1 - Only option,False,False,False,NaN,Publication - ANY author
308,12,Leading,Creating,AA,True,False,False,2 - No,2 - No,1 - Only option,False,False,False,NaN,Publication - ANY author

In [37]:
#write in proj options for those with non-mandatory projects

#which df
df = aa_any_noman

#which column to enter data
col_in = "Publication requirements"

#which column to get data out of
col_out = "project_category_ID"




for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
    if df.loc[index, col_out] == '2 - Options based system': 
        colleges.loc[colleges['College'] == ids, col_in] = "Optional (a)"
        
    else:
        colleges.loc[colleges['College'] == ids, col_in] = "Optional (b)"

        
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
        
    if df.loc[index, col_out] == '1 - Only option': 
        colleges.loc[colleges['College'] == ids, col_in] = "Optional"
    

    
print(colleges[col_in].value_counts(dropna=False))
colleges.head()

Optional    31
            27
Name: Publication requirements, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,Yes,No,2 - Supervisor required but no details given,,Optional,,
8,2,Yes (a),Yes (a),No,2 - Supervisor required but no details given,Yes (a),,,
10,3,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
42,4,Yes,Yes,No,3 - Supervisor required but no mention of RESE...,Yes (a),,,
11,5,Optional,Yes,Yes,5 - Experienced research supervisor MANDATORY,,,,

### Mandatory

In [38]:
#get colleges that require or encourage publication as first or second author
aa_any_man = aa[((aa.activity_type == "Publication - FIRST author") | 
              (aa.activity_type == "Publication - FIRST or SECOND author")|
             (aa.activity_type == "Publication - ANY author")) & (aa.Compulsory_YES_ID == "1 - Yes")]

print(aa_any_man["project_category_ID"].value_counts(dropna=False))
aa_any_man.head()

2 - Options based system    10
3 - Points based system      7
1 - Only option              5
Name: project_category_ID, dtype: int64

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
35,38,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Publication - FIRST author
38,37,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Publication - FIRST or SECOND author
42,36,Leading,Creating,AA,True,False,False,1 - Yes,1 - Yes,1 - Only option,False,False,False,NaN,Publication - ANY author
46,40,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Publication - FIRST or SECOND author
51,41,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,3 - Points based system,False,False,False,NaN,Publication - FIRST author

In [39]:
#write in proj options for those with non-mandatory projects

#which df
df = aa_any_man

#which column to enter data
col_in = "Publication requirements"

#which column to get data out of
col_out = "project_category_ID"




for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
    if df.loc[index, col_out] == '2 - Options based system': 
        colleges.loc[colleges['College'] == ids, col_in] = "Yes (a)"
        
    else:
        colleges.loc[colleges['College'] == ids, col_in] = "Yes (b)"

        
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
        
    if df.loc[index, col_out] == '1 - Only option': 
        colleges.loc[colleges['College'] == ids, col_in] = "Yes"
    

    
print(colleges[col_in].value_counts(dropna=False))
colleges.head()

Optional    31
Yes (a)     10
Yes (b)      6
             6
Yes          5
Name: Publication requirements, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,Yes,No,2 - Supervisor required but no details given,,Optional,,
8,2,Yes (a),Yes (a),No,2 - Supervisor required but no details given,Yes (a),Yes (a),,
10,3,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
42,4,Yes,Yes,No,3 - Supervisor required but no mention of RESE...,Yes (a),Yes (a),,
11,5,Optional,Yes,Yes,5 - Experienced research supervisor MANDATORY,,,,

## Conference presentations

### Non-mandatory presentations

In [40]:
#get colleges that require or encourage conference presentations (oral or poster)
aa_conf_nonman = aa[((aa.activity_type == "Conference presentation - ORAL") | 
              (aa.activity_type == "Conference presentation - POSTER"))& (aa.Compulsory_YES_ID == "2 - No")]

print(aa_conf_nonman["project_category_ID"].value_counts(dropna=False))
aa_conf_nonman.head()

1 - Only option    28
Name: project_category_ID, dtype: int64

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
289,7,Leading,Creating,AA,True,False,False,2 - No,2 - No,1 - Only option,False,False,False,NaN,Conference presentation - ORAL
295,9,Leading,Creating,AA,True,False,False,2 - No,2 - No,1 - Only option,False,False,False,NaN,Conference presentation - ORAL
300,10,Leading,Creating,AA,True,False,False,2 - No,2 - No,1 - Only option,False,False,False,NaN,Conference presentation - ORAL
303,8,Leading,Creating,AA,True,False,False,2 - No,2 - No,1 - Only option,False,False,False,NaN,Conference presentation - ORAL
309,12,Leading,Creating,AA,True,False,False,2 - No,2 - No,1 - Only option,False,False,False,NaN,Conference presentation - ORAL

In [41]:
#write in proj options for those with non-mandatory projects

#which df
df = aa_conf_nonman

#which column to enter data
col_in = "Conference presentation requirements"

#which column to get data out of
col_out = "project_category_ID"




for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
    if df.loc[index, col_out] == '2 - Options based system': 
        colleges.loc[colleges['College'] == ids, col_in] = "Optional (a)"
        
    else:
        colleges.loc[colleges['College'] == ids, col_in] = "Optional (b)"

        
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
        
    if df.loc[index, col_out] == '1 - Only option': 
        colleges.loc[colleges['College'] == ids, col_in] = "Optional"
    

    
print(colleges[col_in].value_counts(dropna=False))
colleges.head()

            30
Optional    28
Name: Conference presentation requirements, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,Yes,No,2 - Supervisor required but no details given,,Optional,,
8,2,Yes (a),Yes (a),No,2 - Supervisor required but no details given,Yes (a),Yes (a),,
10,3,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
42,4,Yes,Yes,No,3 - Supervisor required but no mention of RESE...,Yes (a),Yes (a),,
11,5,Optional,Yes,Yes,5 - Experienced research supervisor MANDATORY,,,,

### Mandatory

In [42]:
#get colleges that require or encourage conference presentations (oral or written)
aa_conf_man = aa[((aa.activity_type == "Conference presentation - ORAL") | 
              (aa.activity_type == "Conference presentation - POSTER"))& (aa.Compulsory_YES_ID == "1 - Yes")]


print(aa_conf_man["project_category_ID"].value_counts(dropna=False))
aa_conf_man.head()

3 - Points based system     12
2 - Options based system    10
1 - Only option              9
Name: project_category_ID, dtype: int64

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
34,38,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Conference presentation - ORAL
39,37,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Conference presentation - ORAL
40,37,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Conference presentation - POSTER
47,40,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Conference presentation - ORAL
52,41,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,3 - Points based system,False,False,False,NaN,Conference presentation - ORAL

In [43]:
#write in proj options for those with non-mandatory projects

#which df
df = aa_conf_man

#which column to enter data
col_in = "Conference presentation requirements"

#which column to get data out of
col_out = "project_category_ID"




for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
    if df.loc[index, col_out] == '2 - Options based system': 
        colleges.loc[colleges['College'] == ids, col_in] = "Yes (a)"
        
    else:
        colleges.loc[colleges['College'] == ids, col_in] = "Yes (b)"

        
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
        
    if df.loc[index, col_out] == '1 - Only option': 
        colleges.loc[colleges['College'] == ids, col_in] = "Yes"
    

    
print(colleges[col_in].value_counts(dropna=False))
colleges.head()

Optional    27
            11
Yes          8
Yes (b)      7
Yes (a)      5
Name: Conference presentation requirements, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,Yes,No,2 - Supervisor required but no details given,,Optional,Yes,
8,2,Yes (a),Yes (a),No,2 - Supervisor required but no details given,Yes (a),Yes (a),Yes (a),
10,3,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
42,4,Yes,Yes,No,3 - Supervisor required but no mention of RESE...,Yes (a),Yes (a),Yes,
11,5,Optional,Yes,Yes,5 - Experienced research supervisor MANDATORY,,,,

## Thesis report

### Non Mandatory

In [44]:
#get colleges that require or encourage thesis
aa_thesis_nonman = aa[(aa.activity_type == "Thesis or research-style WRITTEN report")
                     & (aa.Compulsory_YES_ID == "2 - No")]

print(aa_thesis_nonman["project_category_ID"].value_counts(dropna=False))
aa_thesis_nonman

Series([], Name: project_category_ID, dtype: int64)

Empty DataFrame
Columns: [College_ID, Research Level, Competency, constructive_type_abv, scholarly_project, HDR_option, HDR_option_avail, Repeated_learning_YES_ID, Compulsory_YES_ID, project_category_ID, RPL, LEARNINGA_research_training, LEARNINGA_experienced_supervisor, LEARNINGA_experienced_supervisor_ID, activity_type]
Index: []

In [45]:
#write in proj options for those with non-mandatory projects

#which df
df = aa_thesis_nonman

#which column to enter data
col_in = "Thesis requirements"

#which column to get data out of
col_out = "project_category_ID"




for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
    if df.loc[index, col_out] == '2 - Options based system': 
        colleges.loc[colleges['College'] == ids, col_in] = "Optional (a)"
        
    else:
        colleges.loc[colleges['College'] == ids, col_in] = "Optional (b)"

        
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
        
    if df.loc[index, col_out] == '1 - Only option': 
        colleges.loc[colleges['College'] == ids, col_in] = "Optional"
    

    
print(colleges[col_in].value_counts(dropna=False))
colleges.head()

    58
Name: Thesis requirements, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,Yes,No,2 - Supervisor required but no details given,,Optional,Yes,
8,2,Yes (a),Yes (a),No,2 - Supervisor required but no details given,Yes (a),Yes (a),Yes (a),
10,3,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,
42,4,Yes,Yes,No,3 - Supervisor required but no mention of RESE...,Yes (a),Yes (a),Yes,
11,5,Optional,Yes,Yes,5 - Experienced research supervisor MANDATORY,,,,

### Mandatory

In [46]:
#get colleges that require or encourage thesis
aa_thesis_man = aa[(aa.activity_type == "Thesis or research-style WRITTEN report")
                     & (aa.Compulsory_YES_ID == "1 - Yes")]

print(aa_thesis_man["project_category_ID"].value_counts(dropna=False))
aa_thesis_man

1 - Only option             41
2 - Options based system     8
3 - Points based system      3
Name: project_category_ID, dtype: int64

,College_ID,Research Level,Competency,constructive_type_abv,scholarly_project,HDR_option,HDR_option_avail,Repeated_learning_YES_ID,Compulsory_YES_ID,project_category_ID,RPL,LEARNINGA_research_training,LEARNINGA_experienced_supervisor,LEARNINGA_experienced_supervisor_ID,activity_type
32,38,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
43,36,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
50,40,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
63,42,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Thesis or research-style WRITTEN report
133,3,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
288,7,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
294,9,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
298,10,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
304,8,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
310,12,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
314,13,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
318,14,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
319,15,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
323,15,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
326,16,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
330,17,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
332,18,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
334,19,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
339,20,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
344,21,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
345,22,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
346,22,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Thesis or research-style WRITTEN report
353,24,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
358,25,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
359,23,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
363,23,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
365,26,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
374,27,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
375,28,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
382,31,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
386,32,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
388,29,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
392,30,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
394,33,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
401,34,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
402,35,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
412,5,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
426,24,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
444,4,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Thesis or research-style WRITTEN report
487,1,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
503,46,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
598,49,Leading,Creating,AA,True,False,False,1 - Yes,1 - Yes,3 - Points based system,False,False,False,NaN,Thesis or research-style WRITTEN report
602,50,Leading,Creating,AA,True,False,False,1 - Yes,1 - Yes,3 - Points based system,False,False,False,NaN,Thesis or research-style WRITTEN report
603,52,Using,Creating,AA,True,False,False,1 - Yes,1 - Yes,3 - Points based system,False,False,False,NaN,Thesis or research-style WRITTEN report
608,55,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
610,53,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Thesis or research-style WRITTEN report
613,57,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
614,58,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Thesis or research-style WRITTEN report
615,56,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Thesis or research-style WRITTEN report
740,51,Leading,Creating,AA,True,False,False,1 - Yes,1 - Yes,1 - Only option,False,False,False,NaN,Thesis or research-style WRITTEN report
742,54,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Thesis or research-style WRITTEN report
744,57,Leading,Creating,AA,True,False,False,2 - No,1 - Yes,2 - Options based system,False,False,False,NaN,Thesis or research-style WRITTEN report

In [47]:
#write in proj options for those with non-mandatory projects

#which df
df = aa_thesis_man

#which column to enter data
col_in = "Thesis requirements"

#which column to get data out of
col_out = "project_category_ID"




for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
    if df.loc[index, col_out] == '2 - Options based system': 
        colleges.loc[colleges['College'] == ids, col_in] = "Yes (a)"
        
    else:
        colleges.loc[colleges['College'] == ids, col_in] = "Yes (b)"

        
for ids in df ["College_ID"]:
    
    #get index
    index = df[df['College_ID']== ids].index[0]
    
        
    if df.loc[index, col_out] == '1 - Only option': 
        colleges.loc[colleges['College'] == ids, col_in] = "Yes"
    

    
print(colleges[col_in].value_counts(dropna=False))
colleges.head()

Yes        38
           11
Yes (a)     6
Yes (b)     3
Name: Thesis requirements, dtype: int64

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements
45,1,Yes,Yes,No,2 - Supervisor required but no details given,,Optional,Yes,Yes
8,2,Yes (a),Yes (a),No,2 - Supervisor required but no details given,Yes (a),Yes (a),Yes (a),
10,3,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,Yes
42,4,Yes,Yes,No,3 - Supervisor required but no mention of RESE...,Yes (a),Yes (a),Yes,Yes (a)
11,5,Optional,Yes,Yes,5 - Experienced research supervisor MANDATORY,,,,Yes

---

# Add min duration of training column

In [48]:
#Read the workbook
min_duration = pd.read_csv('Outputs/min_duration.csv')

#set the firxt column as the index
min_duration.set_index("Unnamed: 0", inplace= True)

print(min_duration.shape)
print(min_duration.info())



min_duration.head()

(59, 2)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 0 to 68
Data columns (total 2 columns):
College                 59 non-null int64
Duration of training    59 non-null float64
dtypes: float64(1), int64(1)
memory usage: 1.4 KB
None

            College  Duration of training
Unnamed: 0
0                 1                   4.0
1                 2                   3.5
2                 3                   5.0
3                 4                   6.0
5                 5                   3.0

In [49]:
#combine dataframes horizontally to add duration of training column

colleges = pd.merge(colleges, min_duration,on = "College", how = "inner")

#rename Duration of training to Minimum duration of training
colleges = colleges.rename(index=str, columns={"Duration of training": "Minimum duration of training"})


colleges

,College,Project Requirements,Research training required,Experienced supervisor specified,Project supervisor category,First or second author publication requirements,Publication requirements,Conference presentation requirements,Thesis requirements,Minimum duration of training
0,1,Yes,Yes,No,2 - Supervisor required but no details given,,Optional,Yes,Yes,4.0
1,2,Yes (a),Yes (a),No,2 - Supervisor required but no details given,Yes (a),Yes (a),Yes (a),,3.5
2,3,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,Yes,5.0
3,4,Yes,Yes,No,3 - Supervisor required but no mention of RESE...,Yes (a),Yes (a),Yes,Yes (a),6.0
4,5,Optional,Yes,Yes,5 - Experienced research supervisor MANDATORY,,,,Yes,3.0
5,6,,Optional,,,,,,,6.0
6,7,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
7,8,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
8,9,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
9,10,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
10,11,,Optional,,,,,,,3.5
11,12,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
12,13,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
13,14,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
14,15,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
15,16,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
16,17,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
17,18,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
18,19,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
19,20,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,7.0
20,21,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
21,22,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Yes (a),Yes,6.0
22,23,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,Optional,Optional,Optional,Yes,6.0
23,24,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
24,25,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
25,26,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
26,27,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Yes,Yes,6.5
27,28,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
28,29,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
29,30,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
30,31,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
31,32,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
32,33,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
33,34,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
34,35,Yes,Optional,Yes*,4 - Experienced research supervisor ENCOURAGED,,Optional,Optional,Yes,6.0
35,36,Yes,,No,2 - Supervisor required but no details given,,Yes,,Yes,6.0
36,37,Yes,Yes,No,2 - Supervisor required but no details given,Yes (a),Yes (a),Yes (a),,4.0
37,38,Yes,Yes,Yes*,4 - Experienced research supervisor ENCOURAGED,Yes,Yes,Yes,Yes,5.0
38,39,Yes,,No,2 - Supervisor required but no details given,Yes,Yes,,,5.0
39,40,Yes,Yes,NR,1 - Supervisor NOT required and/or mentioned,Yes,Yes,Yes,Yes,7.0
40,41,Yes (b),Yes,No,2 - Supervisor required but no details given,Yes (b),Yes (b),Yes (b),,5.0
41,42,Yes,Yes,No,2 - Supervisor required but no details given,Yes (a),Yes (a),Yes (a),Yes (a),5.0
42,43,Yes,,NR,1 - Supervisor NOT required and/or mentioned,,Yes (b),Yes (b),,5.0
43,44,Yes,,NR,1 - Supervisor NOT required and/or mentioned,Yes (a),Yes (a),Yes (a),,5.0
44,45,Yes (b),Yes (b),No,2 - Supervisor required but no details given,Yes (b),Yes (b),Yes (b),,6.0
45,46,Yes,Optional,Yes,5 - Experienced research supervisor MANDATORY,Optional,Optional,,Yes,5.0
46,47,Yes,,No,2 - Supervisor required but no details given,Yes (a),Yes (a),Yes,,5.0
47,48,Yes,Yes (b),Yes*,4 - Experienced research supervisor ENCOURAGED,Yes,Yes,Yes (b),,5.0
48,49,Yes (b),,No,3 - Supervisor required but no mention of RESE...,Yes (b),Yes (b),Yes (b),Yes (b),5.0
49,50,Yes,,No,3 - Supervisor required but no mention of RESE...,Yes (b),Yes (b),Yes (b),Yes (b),5.0
50,51,Yes,,No,3 - Supervisor required but no mention of RESE...,,Optional,Optional,Yes,5.0
51,52,Yes,,No,3 - Supervisor required but no mention of RESE...,Yes (b),Yes (b),Yes (b),Yes (b),5.0
52,53,Yes,,No,3 - Supervisor required but no mention of RESE...,Yes (a),Yes (a),,Yes (a),5.0
53,54,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,Yes (a),5.0
54,55,Yes,,No,3 - Supervisor required but no mention of RESE...,,,,Yes,5.0
55,56,Yes,,No,3 - Supervisor required but no mention of RESE...,Yes (a),Yes (a),,Yes (a),5.0
56,57,Yes,,No,3 - Supervisor required but no mention of RESE...,Yes (a),Yes (a),Yes,Yes,5.0
57,58,Yes,,No,3 - Supervisor required but no mention of RESE...,Yes (a),Yes (a),Yes,Yes (a),5.0

----

# Save

In [51]:
#save as csv
colleges.to_csv('Outputs/project_discriptions.csv', sep=',', encoding='utf-8')

In [52]:
colleges_1 = colleges.loc[:, colleges.columns != "Project supervisor category"]

#save as csv
colleges_1.to_csv('Outputs/project_discriptions_1.csv', sep=',', encoding='utf-8')

#get all college names

proj_options = la_proj.project_category_ID.unique()

#create data frame
df_options = pd.DataFrame(proj_options)

#rename columns
df_options.columns = ["option"]

#add new column
new_options = ["Only option",
              "Points based system",
              "Options based system"]


df_options["new_options"] = new_options


#convert df into dictionary
dict_options = dict(zip(df_options.option, df_options.new_options))



print(len(dict_options))

dict_options